body{
	font-family: Verdana, Arial, sans-serif;
	color: #485150;
	background-color: #E6FFF9;
	min-width: 900px;
}


.logo {
	font-family: "Century Gothic", Verdana, Arial, sans-serif;
	color: #00CC99;
	letter-spacing: -5px;
	font-size: 3em;
}

a {
	text-decoration: none;
}

.navIcon {
	filter: grayscale(1);
}


nav {
	background-color: #FFFFFF;
	border-bottom: 1px solid #819892;
	position: fixed;
	width: 100%;
	height: 64px;
	z-index: 10;
	margin: -10px;
	min-width: 390px;
}

ul {

  	margin-bottom: 30px auto;
  	padding: 0 20px;
  	margin-top: -40px;
}

li {
  	color: #00CC99;
  	display: inline-block;
  	width: auto;
  	padding: 0 20px;
}

.navIcon:hover {
	filter: grayscale(0);
}

.tweets,
aside {
	display: block;
	background-color: #FFFFFF;
	position: relative;
	top: 64px;
	padding: 0 10px;
}

.tweets {
	background-color: #FFFFFF;
	width: 600px;
	margin-left: 350px;
	margin-right: 10px;
	border: 1px solid #D1E0DD;
}

aside {
	float: left;
	width: 300px;
	min-width: 200px;
	margin-left: 10px;
	border: 1px solid #D1E0DD;
}

.trendContainer {
	color: #00CC99;
	font-weight: bold;
}

.trendCount {
	font-size: .75em;
	padding-bottom: 20px;
}

article {
	visibility: hidden;
	width: 400px;
	float: right;
}

.tweets a {
	font-weight: bold;
}

.tweeter {
	padding: 20px 0 0 20px;
	font-weight: bold;
}

.tweet {
	padding: 0 20px 20px;
	border-bottom: 1px solid #D1E0DD;
}